---
import LogoSpotify from '@/icons/LogoSpotify.astro';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class="bg-slate-600 w-full h-full flex flex-col gap-12">
      <header class="bg-deep-black text-white px-16 py-8">
        <LogoSpotify height={48} />
      </header>
      <main class="flex justify-center items-center">
        <slot />
      </main>
      <footer class="bg-deep-black px-16 py-8">
        <p class="text-light-gray text-center text-sm font-medium">
          Este sitio está protegido por reCAPTCHA y se aplican la Política de
          Privacidad y los Términos de Servicio de Google.
        </p>
      </footer>
    </div>
  </body>
</html>
