---
import AsideMenuOut from '../components/AsideMenuOut.astro';
import FooterOut from '../components/FooterOut.astro';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class="bg-slate-600 w-screen h-screen px-3 py-2 gap-2.5">
      <aside class="text-white [grid-area:aside] overflow-hidden rounded-md">
        <AsideMenuOut />
      </aside>
      <main
        class="[grid-area:main] relative bg-slate-800 w-full rounded-md min-w-[750px] overflow-y-scroll scroll-custom flex flex-col"
      >
        <slot />
      </main>
      <footer class="[grid-area:footer] bg-blue-400">
        <FooterOut />
      </footer>
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  #app {
    display: grid;
    grid-template-areas: 'aside main main' 'footer footer footer';
    grid-template-columns: 350px minmax(730px, 1fr);
    grid-template-rows: 1fr auto;
  }
  .scroll-custom::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 5px;
    overflow: overlay;
  }

  .scroll-custom::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #1b1b1b;
  }

  .scroll-custom::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #888;
    border-radius: 5px;
    position: absolute;
  }
  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
  }
</style>
