---
interface Props {
  title: string;
  subTitle: string;
  buttonText: string;
}
const {title, subTitle, buttonText} = Astro.props;
---

<article class="bg-shadow-gray px-4 py-5 flex flex-col gap-6 rounded-lg">
  <div class="flex flex-col gap-1.5">
    <h3 class="text-base font-bold">{title}</h3>
    <p class="text-sm">{subTitle}</p>
  </div>
  <span class="relative">
    <button
      class="bg-white px-4 py-2 text-black rounded-full text-sm font-semibold hover:scale-105 transition-transform duration-100"
      >{buttonText}</button
    >
  </span>
</article>
