---
import ArrowBack from '../icons/ArrowBack.astro';
import ArrowNext from '../icons/ArrowNext.astro';
import Layout from '../layouts/Layout.astro';
import Play from '../icons/Play.astro';
import Instagram from '../icons/Instagram.astro';
import Twiiter from '../icons/Twiiter.astro';
import Facebook from '../icons/Facebook.astro';
import Download from '@/icons/Download.astro';
import Bell from '@/icons/Bell.astro';
import CardLarge from '@/components/CardLarge.astro';
import CardBig from '@/components/CardBig.astro';
---

<Layout title="Welcome to Astro.">
  <header class="bg-neutral-600 px-6 py-3 sticky top-0 z-50">
    <nav class="text-white flex items-center justify-between">
      <div>
        <button class="bg-black/70 p-3 opacity-60 rounded-full"
          ><ArrowBack /></button
        >
        <button class="bg-black/70 p-3 opacity-60 rounded-full"
          ><ArrowNext /></button
        >
      </div>
      <div class="flex gap-1">
        <a
          href="#"
          class="flex items-center gap-2 font-bold bg-black/70 px-6 py-3 hover:scale-105 transition-transform duration-75 rounded-full"
        >
          <Download /> Instalar app</a
        >
        <button
          class="flex items-center gap-2 bg-black/70 font-bold text-white/60 hover:text-white p-3 rounded-full hover:scale-105 transition-all duration-75"
        >
          <Bell size={20} />
        </button>
        <button
          class="flex items-center gap-2 bg-black/70 font-bold text-white/60 hover:text-white p-2 rounded-full hover:scale-105 transition-all duration-75"
        >
          <span
            class="text-xl font-semibold w-6 h-6 flex items-center justify-center p-4 bg-rose-400 rounded-full text-black/70"
            >C</span
          >
        </button>
      </div>
    </nav>
  </header>
  <section class="px-6 py-4 flex-1 bg-deep-black flex flex-col gap-8">
    <!-- #535353 -->

    <section class="mt-2">
      <ul
        class="grid gap-2 grid-cols-2 grid-rows-3 xl:grid-cols-3 xl:grid-rows-2"
      >
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
            isPlayin
          />
        </li>
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
          />
        </li>
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
          />
        </li>
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
          />
        </li>
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
          />
        </li>
        <li class="">
          <CardLarge
            imgUrl="https://i.scdn.co/image/ab6761610000f178581efa688945cbb092df1726"
            title="Avril LAvigne"
          />
        </li>
      </ul>
    </section>

    <section class="px-6 py-2 flex-1 bg-deep-black flex flex-col gap-8">
      <!-- #535353 -->

      <section class="flex flex-col gap-4">
        <div class="flex justify-between items-center">
          <a href="#" class="text-3xl font-bold text-neutral-50 hover:underline"
            >Episodios para ti</a
          >
          <a class="text-medium-gray font-bold hover:underline" href="#"
            >Mostar todo</a
          >
        </div>
        <div class="cards-playlist">
          <CardBig
            imgUrl="https://i.scdn.co/image/ab67656300005f1fc1b4e6c93150a436a663c075"
            title="El brutal asesinato de nose cuantas poersonas"
            description="algo que deveria de ser una description ara el preso de algo"
          />
          <CardBig
            imgUrl="https://i.scdn.co/image/ab67656300005f1f164b07e7fa2a3770fcf5ef62"
            title="109. Ted Bundy: 1975 el asesino de nose quie"
            description="dic 2023 ▪️ 73 min."
          />
          <CardBig
            imgUrl="https://i.scdn.co/image/ab67656300005f1fc1b4e6c93150a436a663c075"
            title="El brutal asesinato de nose cuantas poersonas"
            description="algo que deveria de ser una description ara el preso de algo"
          />
        </div>
      </section>

      <section class="mt-12">
        <div class="flex flex-wrap">
          <div class="flex gap-x-40 gap-y-4 flex-wrap flex-1">
            <ul class="flex flex-col gap-1 text-light-gray">
              <li><h5 class="font-bold text-white">Empresa</h5></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Empleo</a></li>
              <li><a href="#">For the Record</a></li>
            </ul>
            <ul class="flex flex-col gap-1 text-light-gray">
              <li><h5 class="font-bold text-white">Comunidades</h5></li>
              <li><a href="#">Para artistas</a></li>
              <li><a href="#">Desarrolladores</a></li>
              <li><a href="#">Publicidad</a></li>
              <li><a href="#">Inversionistas</a></li>
              <li><a href="#">Proveedores</a></li>
            </ul>
            <ul class="flex flex-col gap-1 text-light-gray">
              <li><h5 class="font-bold text-white">Enlace utiles</h5></li>
              <li><a href="#">Ayudade</a></li>
              <li><a href="#">App movil gratis</a></li>
            </ul>
          </div>
          <div class="text-white flex gap-4">
            <div>
              <button class="bg-dark-gray p-3 rounded-full hover:bg-medium-gray"
                ><Instagram /></button
              >
            </div>
            <div>
              <button class="bg-dark-gray p-3 rounded-full hover:bg-medium-gray"
                ><Twiiter /></button
              >
            </div>

            <div>
              <button class="bg-dark-gray p-3 rounded-full hover:bg-medium-gray"
                ><Facebook /></button
              >
            </div>
          </div>
        </div>
      </section>
      <hr
        class="my-2 h-[1px] border-t-0 bg-neutral-100/30 opacity-100 dark:opacity-50"
      />

      <div class="flex justify-between flex-wrap gap-4 lg:flex-nowrap">
        <div class="text-light-gray flex gap-4 flex-wrap">
          <a href="#" class="hover:text-white">Legal</a>
          <a href="#" class="hover:text-white">Centro de Privacidad</a>
          <a href="#" class="hover:text-white">Politica de Privacidad</a>
          <a href="#" class="hover:text-white">Cookies</a>
          <a href="#" class="hover:text-white">Informacion sobre los anuncios</a
          >
          <a href="#" class="hover:text-white">Accesibilidad</a>
        </div>
        <p class="text-light-gray text-sm whitespace-nowrap">
          © 2024 Spotify AB
        </p>
      </div>
    </section>
  </section>
</Layout>
